In [2]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport
import seaborn as sns
import folium

In [3]:
df_summons = pd.read_csv("datasets/NYPD_B_Summons__Year_to_Date_.csv")
df_summons

,EVNT_KEY,VIOLATION_DATE,VIOLATION_TIME,CHG_LAW_CD,VIOLATION_CODE,VEH_CATEGORY,CITY_NM,RPT_OWNING_CMD,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Location Point,JURIS_CD
0,239079620,01/13/2022,12:25:00,VTL,1180D,CAR/SUV,STATEN ISLAND,122,965006,159201,40.603625,-74.069302,POINT (-74.06930238 40.60362534),1
1,239648211,01/25/2022,10:24:00,NYC,403A1,CAR/SUV,MANHATTAN,1,980541,199857,40.715237,-74.013379,POINT (-74.01337938 40.71523721),1
2,241452758,03/02/2022,10:29:12,VTL,5091,CAR/SUV,BRONX,52,1017478,256069,40.869470,-73.879861,POINT (-73.8798608037303 40.8694704770483),1
3,240915437,02/19/2022,06:53:30,NYC,406A2,CAR/SUV,QUEENS,112,1025401,202586,40.722641,-73.851542,POINT (-73.8515418216779 40.7226409964758),1
4,238942415,01/11/2022,11:03:04,VTL,1180D,TRUCK/BUS,MANHATTAN,6,984338,208351,40.738552,-73.999682,POINT (-73.99968244 40.73855195),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437067,251014999,09/13/2022,18:15:00,VTL,1172A,CAR/SUV,MANHATTAN,34,1006487,253905,40.863557,-73.919606,POINT (-73.91960608 40.86355719),1
437068,251717441,09/28/2022,14:55:00,VTL,5091,CAR/SUV,QUEENS,110,1019894,212168,40.748957,-73.871357,POINT (-73.87135711 40.74895683),1
437069,251820723,09/30/2022,09:08:45,VTL,1111D1N,CAR/SUV,MANHATTAN,10,985808,215574,40.758377,-73.994376,POINT (-73.99437622 40.75837713),1
437070,250766737,09/08/2022,11:30:00,VTL,1229C3,CAR/SUV,BRONX,40,1007914,232775,40.805558,-73.914522,POINT (-73.91452156 40.80555776),1
437071,250900174,09/11/2022,13:00:00,VTL,1111D1N,CAR/SUV,MANHATTAN,34,1002024,249023,40.850168,-73.935754,POINT (-73.9357542 40.85016768),1

In [29]:
# profile = ProfileReport(df_summons, title="summmons Report")
# profile.to_file("summmons.html")

In [30]:
df_collisions = pd.read_csv("datasets/Motor_Vehicle_Collisions_-_Crashes.csv")
df_collisions

C:\Users\ttomn\AppData\Local\Temp\ipykernel_11872\3595555843.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_collisions = pd.read_csv("datasets/Motor_Vehicle_Collisions_-_Crashes.csv")

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1949625,11/29/2022,2:20,STATEN ISLAND,10305.0,40.611940,-74.070380,"(40.61194, -74.07038)",NaN,NaN,255 HYLAN BOULEVARD,...,NaN,NaN,NaN,NaN,4585934,Sedan,NaN,NaN,NaN,NaN
1949626,11/29/2022,15:05,BROOKLYN,11220.0,40.639854,-74.012200,"(40.639854, -74.0122)",57 STREET,6 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4586337,Sedan,Distributo,NaN,NaN,NaN
1949627,11/24/2022,22:00,NaN,NaN,40.812073,-73.936040,"(40.812073, -73.93604)",EAST 135 STREET,MADISON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4586345,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1949628,10/18/2022,15:00,NaN,NaN,40.797035,-73.929825,"(40.797035, -73.929825)",EAST 120 STREET,PLEASANT AVENUE,NaN,...,NaN,NaN,NaN,NaN,4586360,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1949629,11/29/2022,6:25,BROOKLYN,11210.0,40.625275,-73.946610,"(40.625275, -73.94661)",NaN,NaN,2442 NOSTRAND AVENUE,...,Unspecified,Unspecified,NaN,NaN,4585982,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN

In [31]:
# profile = ProfileReport(df_collisions, title="collisions Report")
# profile.to_file("collisions.html")

In [50]:
print(df_summons.columns)
print(df_collisions.columns)

Index(['EVNT_KEY', 'VIOLATION_DATE', 'VIOLATION_TIME', 'CHG_LAW_CD',
       'VIOLATION_CODE', 'VEH_CATEGORY', 'CITY_NM', 'RPT_OWNING_CMD',
       'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude', 'Location Point',
       'JURIS_CD'],
      dtype='object')
Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

Empty DataFrame
Columns: [CRASH DATE, CRASH TIME, BOROUGH, ZIP CODE, LATITUDE, LONGITUDE, LOCATION, ON STREET NAME, CROSS STREET NAME, OFF STREET NAME, NUMBER OF PERSONS INJURED, NUMBER OF PERSONS KILLED, NUMBER OF PEDESTRIANS INJURED, NUMBER OF PEDESTRIANS KILLED, NUMBER OF CYCLIST INJURED, NUMBER OF CYCLIST KILLED, NUMBER OF MOTORIST INJURED, NUMBER OF MOTORIST KILLED, CONTRIBUTING FACTOR VEHICLE 1, CONTRIBUTING FACTOR VEHICLE 2, CONTRIBUTING FACTOR VEHICLE 3, CONTRIBUTING FACTOR VEHICLE 4, CONTRIBUTING FACTOR VEHICLE 5, COLLISION_ID, VEHICLE TYPE CODE 1, VEHICLE TYPE CODE 2, VEHICLE TYPE CODE 3, VEHICLE TYPE CODE 4, VEHICLE TYPE CODE 5]
Index: []

[0 rows x 29 columns]

We decided to examine the influence of "vision zero" on [collisions](https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95).
To be more specific we want to look at some databases which include information regarding changes that were
 done due to vision zero program. Some examples:
 [speed humps](https://data.cityofnewyork.us/Transportation/VZV_Speed-Humps/7f9e-jic4)
 [speed limits](https://data.cityofnewyork.us/Transportation/VZV_Speed-Limits/7n5j-865y) and [historic](https://data.cityofnewyork.us/Public-Safety/NYPD-B-Summons-Historic-/bme5-7ty4)
 [traffic violations](https://data.cityofnewyork.us/Public-Safety/NYPD-B-Summons-Year-to-Date-/57p3-pdcj)
We were thinking about some possible outputs:
1. What changes would be the most effective in order to lower the accidents rate
2. what changes that were done were effective.
3. check if there is any general slowing down in the accidents rate (considering all the outer factors).

Another important decision is to decided what is accidents rate?
1. amount of accidents
2. amount of deadly accidents
3. severity of accidents
4. maybe focusing one cause of accidents

search this in new york data: VZV_Street Improvement Projects (SIPs) intersections
We should map the violations.
Decide if to focus on a specific type of accidents, maybe just some intersections?
Separate the types of violations, maybe look at the amount of enforcement in a region or a road.
Remove dome of the rare violations or put them in bins.
Try to see if there is a connection between the violation type to the cause for the accident.
Think about the change in time and space of the variables.
Try maybe to map dangerous levels for different regions.
look at some papers [here](https://scholar.google.co.il/scholar?q=kernel+density+accidents&hl=iw&as_sdt=0&as_vis=1&oi=scholart) example for a good [paper](https://www.sciencedirect.com/science/article/abs/pii/S0001457508002340).
Look further into the datasets we have (vision zero, collisions, **violations**)

In [ ]:
print("hey")

[collisions](https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95)
[speed humps](https://data.cityofnewyork.us/Transportation/VZV_Speed-Humps/7f9e-jic4)
[speed limits](https://data.cityofnewyork.us/Transportation/VZV_Speed-Limits/7n5j-865y)
[historic](https://data.cityofnewyork.us/Public-Safety/NYPD-B-Summons-Historic-/bme5-7ty4)
[traffic violations](https://data.cityofnewyork.us/Public-Safety/NYPD-B-Summons-Year-to-Date-/57p3-pdcj)